<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/1190.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" >
                <a href="javascript:void(0)" class="text-center db"><img style="width: 100%" src="assets/images/Logo-Usados.png" alt="Home" />
                    <!-- <br/><img src="../assets/images/logo-text.png" alt="Home" /> -->
                </a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" placeholder="Usuario">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" placeholder="Password">
                    </div>
                </div>
                
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" (click)="entrar()" type="button">Entrar</button>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
</section>