<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="assets/images/users/5.jpg" alt="user" /><span class="hide-menu">Raynier Mora</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">Mi perfil </a></li>                       
                        <li><a href="javascript:void()">Salir</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li>
                    <a class=" waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-gauge" style="color:rgb(216, 213, 31)"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>

                </li>
                

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->